$main-font: "Courier New", Courier, monospace;
$main-color: rgb(220, 20, 193);
$light-color: azure;
$info-color: aqua;
$dark-color: black;
$danger-color: red;
$success-color: green;
$fs: 18px;
$shadow: 5px 5px 5px black;
